body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

section#login {
    margin: 0;
}

div.hand {
    position: absolute;
    width: 45vw;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50vh;
}

div#left_hand {
    background-image: url('../img/left_hand.png');
    left: 0;
    background-position: left;
}

div#right_hand {
    background-image: url('../img/right_hand.png');
    right: 0;
    /* transition: right, 1.2s, ease-in-out; */
    background-position: right;
}

div#right_hand.move {
    animation: move2right 1.2s ease-in-out forwards;
}

div#left_hand.move {
    animation: move2left 1.2s ease-in-out forwards;
}

div#hover {
    position: absolute;
    width: 55vh;
    height: 35vh;
    z-index: -1;
}

@keyframes move2left {
    0% {
        left:0;
    }
    100% {
        left:-7vw;
    }
}

@keyframes move2right {
    0% {
        right:0;
    }
    100% {
        right:-7vw;
    }
}