<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='css/styles.css' ) }}>
</head>

<body>
    <P>2+2 = {{crime}}</P>
    <P>{{2+2}}</P>
    {% for item in range(1, 6) %}
        {% if item % 2 %}
            <p>Цифра: {{item}}</p>
        {% endif %}  
    {% endfor %}
    <img width="200" src={{ url_for( 'static', filename="img/kot.jpg" ) }} alt="">
</body>

</html>