{% extends '_base.html' %}
{% block head %}
    <title>Главная</title>
{% endblock head %}

{% block content %}
    {% import 'bootstrap/wtf.html' as wtf %}
        <section id="welcome">
            <div class="bg_logo">
                <!-- <img src={{ url_for('static', filename="img/logo1.png") }}> -->
            </div>
            <main>
                <h1>Привет</h1>
            </main>
        </section>
        <section id="register">
            <h1>Присоединяйся)</h1>
            {{wtf.quick_form(form) }}
            <a href={{ url_for('login' ) }}>Уже есть аккаунт? </a>
        </section>
{% endblock content %}

{% block footer %}
<script src={{ url_for('static', filename="js/scripts.js") }}></script>
{% endblock footer %}